<template>
  <div id="video" class="pa-4 pl-0">
    <h2>Comments</h2>

    <v-tabs v-model="tab" id="tab" class="mt-5">
      <v-tab>
        Comments
      </v-tab>
      <v-tab>
        Live
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <template>
          <v-card flat>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-for="item in getCommentsByUser" :key="item.id">
                    <td>
                      <v-list class="transparent">
                        <v-list-item>
                          <v-list-item-avatar>
                            <img :src="item.userId.photoUrl" />
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>
                              {{ item.userId.channelName }}
                              <v-icon>mdi-circle-small</v-icon>
                              {{ item.createdAt }}
                            </v-list-item-title>
                            <v-list-item-subtitle
                              >{{ item.text }}
                            </v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-group class="d-flex flex-row">
                            <v-list-item-icon v-if="item.videoId">
                              <v-img
                                width="100px"
                                height="100px"
                                :src="item.videoId.thumbnail"
                              />
                            </v-list-item-icon>
                            <v-list-item-action>
                              <v-btn
                                depressed
                                class="transparent"
                                :to="item.videoId.url"
                              >
                                <v-icon>launch</v-icon>
                              </v-btn>
                            </v-list-item-action>
                          </v-list-item-group>
                        </v-list-item>
                      </v-list>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </template>
      </v-tab-item>
      <v-tab-item>
        live
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { CommentsModule } from "@/store/modules/comment.store";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { CommentModel } from "@/shared/models/comment.model";

@Component({
  computed: {
    ...mapGetters(Stores.commentStore, ["getCommentsByUser"])
  }
})
export default class Comments extends Vue {
  tab = null;
  search = null;
  getCommentsByUser!: CommentModel[];

  async mounted() {
    await CommentsModule.getCommentByUserId();
  }
}
</script>
<style></style>
