<template>
  <div id="studio" class="pa-4">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { UserDataModule } from "@/store/modules/user_data.store";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { NavigationGuardNext, Route } from "vue-router";
import { AuthenticationModule } from "@/store/modules/authentication.store";
import { Routes } from "@/shared/enums";

@Component
export default class Studio extends Vue {
  created() {
    if (RouteUtils.isLogin()) {
      UserDataModule.getUserLogged();
    }
  }

  async beforeRouteEnter(
    to: Route,
    from: Route,
    next: NavigationGuardNext<any>
  ) {
    const isLogin = RouteUtils.isLogin();
    if (!isLogin) {
      next({ name: Routes.welcomePage });
    } else next();
  }
}
</script>
