<template>
  <div>
    <h1>Playlists</h1>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Playlist extends Vue {
  //TODO: Analytics
}
</script>
<style></style>
