<template>
  <div>
    <h1>Subtitles</h1>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Subtitles extends Vue {
  //TODO: Analytics
}
</script>
<style></style>
