<template>
  <v-menu offset-y left>
    <template v-slot:activator="{ on }">
      <v-btn
        small
        :color="showPhotoUrl()"
        depressed
        fab
        v-on="on"
        class="white--text"
      >
        <v-list-item-avatar v-if="getUserInfo.photoUrl">
          <v-img :src="getUserInfo.photoUrl" />
        </v-list-item-avatar>
      </v-btn>
    </template>

    <v-card>
      <InfoUser />
      <v-divider></v-divider>

      <v-list>
        <v-list-item @click="myChannel()" exact active-class="active-item">
          <v-list-item-icon>
            <v-icon>mdi-account-box</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ channelTxt }}</v-list-item-title>
        </v-list-item>
        <v-list-item router to="/studio" active-class="active-item">
          <v-list-item-icon>
            <v-icon>mdi-youtube-studio</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ vueTubeTxt }}</v-list-item-title>
        </v-list-item>
        <v-list-item @click="signOut()" active-class="active-item">
          <v-list-item-icon>
            <v-icon>mdi-login-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ signOutTxt }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import InfoUser from "@/shared/components/Common/InfoUser.vue";
import { PopoverInfoConst } from "@/shared/constants/popover_info.const";
import { AuthenticationModule } from "@/store/modules/authentication.store";
import { mapGetters } from "vuex";
import { Routes, Stores } from "@/shared/enums";
import { UserInfo } from "@core/domain/models/user_info.model";
import { Inject } from "typescript-ioc";
import { DataManager } from "@core/services";
import router from "@/router";
import { UserDataModule } from "@/store/modules/user_data.store";

@Component({
  components: { InfoUser },
  computed: {
    ...mapGetters(Stores.userDataStore, ["getUserInfo"])
  }
})
export default class MenuInfo extends Vue {
  channelTxt = PopoverInfoConst.YOUR_CHANNEL;
  vueTubeTxt = PopoverInfoConst.VUE_TUBE_STUDIO;
  signOutTxt = PopoverInfoConst.SIGN_OUT;

  getUserInfo!: UserInfo;

  myChannel() {
    const id = "myChannel";
    if (this.$route.path != "/channels/myChannel")
      this.$router.replace({ name: Routes.channelHome, params: { id } });
  }

  showPhotoUrl() {
    return this.getUserInfo.photoUrl ? "" : "red";
  }

  signOut() {
    AuthenticationModule.signOut();
  }
}
</script>
<style lang="scss">
.active-item {
  .v-list-item__icon {
    color: red !important;
  }
}
</style>
