<template>
  <div>
    <hr class="grey--text" />
    <h4 class="mb-3 mt-3">Up next</h4>
    <div v-for="video in videos" :key="video.id" class="mb-5">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item-avatar-three-line"
        :loading="loading"
        tile
        large
      >
        <RecommendCard
          :card="{ maxWidth: 350, maxHeight: 94 }"
          :video="video"
          :channel="video.userId"
        >
        </RecommendCard>
      </v-skeleton-loader>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import RecommendCard from "@/screens/Watch/components/RecommendCard.vue";

@Component({
  components: {
    RecommendCard
  },
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["getVideos"]),
    ...mapGetters(Stores.videosStore, ["getPublicVideos"])
  }
})
export default class RecommenderVideo extends Vue {
  loading = false;
  getVideos!: VideoModel[];
  getPublicVideos!: VideoModel[];

  get videos(): VideoModel[] {
    if (!this.getVideos) {
      return this.getPublicVideos;
    }
    return this.getVideos;
  }
}
</script>
