<template>
  <v-card
    class="content-bg card mx-auto"
    :max-width="card.maxWidth"
    :max-height="card.maxHeight"
    flat
    tile
    router
    @click.prevent="chooseVideo"
    :to="video.url"
  >
    <v-row no-gutters>
      <v-col class="mx-auto" cols="3" sm="3" md="5" lg="5">
        <v-img
          class="align-center"
          :src="video.thumbnail"
          :height="card.maxHeight"
        >
        </v-img>
      </v-col>
      <v-col>
        <div class="ml-2">
          <v-card-title
            class="pl-2 pt-0 subtitle-1 font-weight-bold"
            style="line-height: 1"
          >
            {{ video.name }}
          </v-card-title>

          <v-card-subtitle class="pl-2 pt-2 pb-0" style="line-height: 1">
            {{ channel.name }}<br />
            {{ video.views }} views
            <v-icon>mdi-circle-small</v-icon>
            {{ video.createdAt }}
          </v-card-subtitle>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { VideoModel } from "@/shared/models/video.model";
import { UserModel } from "@/shared/models/user.model";
import { VideosModule } from "@/store/modules/video.store";
import { Emotions, FeelingModule } from "@/store/modules/feeling.store";
import { CommentsModule } from "@/store/modules/comment.store";
import { ReplyModule } from "@/store/modules/reply.store";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { SubscriptionModule } from "@/store/modules/subscription.store";

@Component({})
export default class RecommendCard extends Vue {
  @Prop({ required: true, type: Object })
  video!: VideoModel;

  @Prop({ required: false, type: Object })
  channel!: UserModel;

  @Prop({ required: false, type: Object })
  card!: object;

  isLogin = RouteUtils.isLogin();

  async chooseVideo() {
    FeelingModule.resetFeeling();
    const id = this.$route.params.id;
    await VideosModule.getAndSaveVideo(id);
    await VideosModule.getAndSavePublicVideos();
    if (this.isLogin) {
      await FeelingModule.checkFeeling();
      await CommentsModule.getCommentsByVideo(id);
      await ReplyModule.getReply();
      await SubscriptionModule.checkSubscription(this.channel.id);
      await SubscriptionModule.getSubscribers();
    }
  }
}
</script>
