<template>
  <v-row>
    <v-col cols="6" sm="6" md="6" lg="6">
      <InfoUser>
        <v-img slot="img" :src="getVideo.userId.photoUrl"></v-img>
        <span slot="title">{{ getVideo.userId.name }}</span>
        <span slot="subtitle"
          >{{ getVideo.userId.subscribers }} subscribers</span
        >
      </InfoUser>
    </v-col>
    <Subscriber
      cols="6"
      sm="6"
      md="6"
      lg="6"
      class-style="d-flex justify-end align-center"
      :getVideo="getVideo"
    />
    <v-col offset="1" cols="11" md="11">
      <p v-if="truncate">{{ truncateText(getVideo.description, 150) }}</p>
      <v-btn
        text
        tag="div"
        @click="truncate = !truncate"
        class="remove-hover-bg"
        >Show More
      </v-btn>
    </v-col>
    <v-col>
      <p class="mb-0">{{ getVideo.comments }} Comments</p>
      <v-card class="transparent" flat>
        <v-list-item three-line class="pl-0">
          <v-list-item-avatar size="50">
            <v-img :src="getUserInfo.photoUrl"></v-img>
          </v-list-item-avatar>
          <v-list-item-content class="align-self-auto">
            <v-form @submit.prevent="sendComment()">
              <v-text-field
                v-model="comment"
                placeholder="Add a public comment..."
                @click="showCommentBtns = true"
              >
              </v-text-field>
            </v-form>

            <div v-if="showCommentBtns" class="d-inline-block text-right">
              <v-btn text @click="cancelSendComment()">Cancel</v-btn>
              <v-btn
                class="blue darken-3 white--text"
                depressed
                tile
                :disabled="comment === ''"
                type="submit"
                >Comment
              </v-btn>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-card>

      <!--      //comments-->
      <v-card
        class="transparent"
        flat
        v-for="comment in getComments"
        :key="comment.id"
      >
        <v-list-item three-line class="pl-0 mt-2">
          <v-list-item-avatar size="50">
            <v-img :src="comment.userId.photoUrl"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="font-weight-medium caption mb-1"
              >{{ comment.userId.channelName }}
              <v-icon>mdi-circle-small</v-icon>
              <span class="font-weight-light grey--text">
                {{ comment.createdAt }}</span
              ></v-list-item-title
            >
            <v-list-item-subtitle class="black--text text--darken-4 caption"
              >{{ comment.text }}
            </v-list-item-subtitle>
            <div>
              <v-btn
                text
                small
                :ripple="false"
                @click.stop="showReply(`${comment.id}`)"
                >Reply
              </v-btn>
            </div>
            <div class="d-none" :ref="`${'reply' + comment.id}`">
              <v-list-item three-line class="pl-0">
                <v-list-item-avatar class="mt-0" size="40">
                  <v-img :src="getUserInfo.photoUrl"></v-img>
                </v-list-item-avatar>
                <v-list-item-content class="align-self-auto mt-0 pt-0">
                  <v-form
                    :ref="`form${comment.id}`"
                    @submit.prevent="addReply(comment.id)"
                  >
                    <v-text-field
                      :ref="`${'input' + comment.id}`"
                      class="pt-0 mt-0 body-2"
                      placeholder="Add a public comment..."
                      :value="repliesInput[`input${comment.id}`]"
                    >
                    </v-text-field>
                  </v-form>
                  <div
                    :ref="comment.id + 'btns'"
                    class="d-inline-block text-right"
                  >
                    <v-btn text @click="hideReply(comment.id)" small
                      >Cancel
                    </v-btn>
                    <v-btn
                      class="blue darken-3 white--text"
                      depressed
                      tile
                      small
                      type="submit"
                      >Reply
                    </v-btn>
                  </div>
                </v-list-item-content>
              </v-list-item>
              <!--  Replies -->
              <v-list-item
                three-line
                class="pl-0 mt-2"
                v-for="reply in comment.replies"
                :key="reply.id"
              >
                <v-list-item-avatar size="40">
                  <v-img :src="reply.userId.photoUrl" />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="font-weight-medium caption mb-1"
                    >{{ reply.userId.channelName }}
                    <v-icon>mdi-circle-small</v-icon>
                    <span class="font-weight-light grey--text">
                      {{ formatDate(reply.createdAt) }}</span
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle
                    class="black--text text--darken-4 caption"
                    >{{ reply.text }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InfoUser from "@/shared/components/Common/InfoUser.vue";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import Subscriber from "@/shared/components/Common/Subscriber.vue";
import { CommentsModule } from "@/store/modules/comment.store";
import { UserInfo } from "@core/domain/models/user_info.model";
import { CommentModel } from "@/shared/models/comment.model";
import { ReplyModule } from "@/store/modules/reply.store";
import { FormatDateTime } from "@/shared/utils/date_time.utils";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { VideosModule } from "@/store/modules/video.store";

@Component({
  components: {
    InfoUser,
    Subscriber
  },
  computed: {
    ...mapGetters(Stores.videosStore, ["getVideo"]),
    ...mapGetters(Stores.userDataStore, ["getUserInfo"]),
    ...mapGetters(Stores.commentStore, ["getComments"])
  }
})
export default class WatchComments extends Vue {
  getUserInfo!: UserInfo;
  getVideo!: VideoModel;
  getComments!: CommentModel[];

  truncate = false;
  comment = "";
  showCommentBtns = false;
  repliesInput = {};
  //get route
  videoId = this.$route.params.id;

  truncateText(string: string, num: number) {
    if (string.length <= num) {
      return string;
    }
    return string.slice(0, num);
  }

  cancelSendComment() {
    this.showCommentBtns = !this.showCommentBtns;
    this.comment = "";
    console.log("cancel send commend");
  }

  formatDate(date: Date) {
    return FormatDateTime.formatDate(date);
  }

  async sendComment() {
    const payload = {
      videoId: this.videoId,
      text: this.comment
    };
    this.showCommentBtns = !this.showCommentBtns;
    await CommentsModule.createComment(payload);
    this.comment = "";
    await CommentsModule.getCommentsByVideo(this.videoId);
  }

  async showReply(id: string) {
    const el: any = this.$refs[`reply${id}`];
    if (el && el.length > 0) {
      el[0].classList.toggle("d-none");
    }
    await CommentsModule.getCommentsByVideo(this.videoId);
  }

  hideReply(id: string) {
    const elForm: any = this.$refs[`form${id}`];
    const elDiv: any = this.$refs[`reply${id}`];
    if (elDiv && elDiv.length > 0 && elForm && elForm.length > 0) {
      elForm[0].reset();
      elDiv[0].classList.toggle("d-none");
    }
  }

  async addReply(id: string) {
    const elForm: any = this.$refs[`form${id}`];
    const elInput: any = this.$refs[`input${id}`];
    if (elForm && elForm.length > 0) {
      elForm[0].reset();
    }
    if (elInput && elInput.length > 0) {
      const text = elInput[0].$refs.input.value;
      const payload = {
        commentId: id,
        text: text
      };
      await ReplyModule.createReply(payload);
      // TODO: CHECK VALUE IS NOT NULL
    }
    await CommentsModule.getCommentsByVideo(this.videoId);
  }

  async mounted() {
    const id = this.$route.params.id;
    await CommentsModule.getCommentsByVideo(id);
    // await VideosModule.getAndSaveVideo(id)
    console.log(this.getComments);
  }

  updated() {
    this.videoId = this.$route.params.id;
  }
}
</script>
