<template>
  <v-main id="home" class="pa-4">
    <v-container fluid>
      <h3 class="headline font-weight-medium">All videos</h3>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="video in getPublicVideos"
          :key="video.id"
          class="mx-xs-auto"
        >
          <v-skeleton-loader type="card-avatar" :loading="loading">
            <VideoCard
              :card="{ maxWidth: 350 }"
              :video="video"
              :channel="video.userId"
            />
          </v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { VSkeletonLoader } from "vuetify/lib";
import VideoCard from "@/shared/components/Common/VideoCard.vue";
import { UserDataModule } from "@/store/modules/user_data.store";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import { VideosModule } from "@/store/modules/video.store";

import { RouteUtils } from "@/shared/utils/routes.utils";

@Component({
  components: {
    VideoCard,
    VSkeletonLoader
  },
  computed: {
    ...mapGetters(Stores.videosStore, ["getPublicVideos"])
  }
})
export default class Home extends Vue {
  getPublicVideos!: VideoModel[];
  loading = true;
  isLogin = RouteUtils.isLogin();

  mounted() {
    this.loading = false;
    VideosModule.getAndSavePublicVideos();
  }

  created() {
    if (this.isLogin) {
      UserDataModule.getUserLogged();
    }
  }
}
</script>
<style lang="scss">
.card {
  background: #f9f9f9 !important;
}
</style>
