<template>
  <div id="search">
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="12" md="10" lg="11">
          <!--USER-->
          <div>
            <div v-for="item in getSearchUser" :key="item.id" class="mb-5">
              <v-skeleton-loader class="mx-auto" :loading="loading" tile large>
                <v-card
                  class="card mb-10"
                  tile
                  flat
                  @click="chooseUser(item.id)"
                  v-if="item.videos.length > 0"
                >
                  <v-row no-gutters justify="center">
                    <v-col cols="10" sm="10" md="3" lg="3" class="d-flex">
                      <!-- <v-responsive max-height="100%"> -->
                      <v-avatar size="130" max-width="150" class="mx-auto">
                        <v-img :src="item.photoUrl"></v-img>
                      </v-avatar>
                      <!-- </v-responsive> -->
                    </v-col>
                    <v-col
                      cols="10"
                      sm="10"
                      md="6"
                      lg="6"
                      class="justify-center"
                    >
                      <v-card-title
                        class="pl-2 pt-0 subtitle-1 font-weight-bold align-center"
                      >
                        {{ item.channelName }}
                      </v-card-title>

                      <v-card-subtitle
                        class="pl-2 pt-2 pb-0"
                        style="line-height: 1.2"
                        v-if="item.videos"
                      >
                        {{ item.subscribers }} subscribers
                        <v-icon>mdi-circle-small</v-icon>
                        {{ countVideos(item.videos) }} videos
                      </v-card-subtitle>
                      <v-card-subtitle class="pl-2 pt-2 pb-0">
                        {{ item.createdAt }}
                      </v-card-subtitle>
                    </v-col>

                    <Subscriber
                      cols="10"
                      sm="10"
                      md="3"
                      lg="3"
                      :getVideo="item.videos[0]"
                    >
                    </Subscriber>
                  </v-row>
                </v-card>

                <v-card
                  class="card mb-10"
                  tile
                  flat
                  v-for="video in item.videos"
                  :key="video.id"
                  @click.stop="createHistory(video)"
                >
                  <v-row no-gutters>
                    <v-col cols="5" sm="3" md="3" lg="3">
                      <!-- <v-responsive max-height="100%"> -->
                      <v-img
                        max-width="300"
                        max-height="250"
                        :src="video.thumbnail"
                      >
                      </v-img>
                      <!-- </v-responsive> -->
                    </v-col>
                    <v-col cols="7" sm="7" md="8" lg="8">
                      <div class="ml-2">
                        <v-card-title
                          class="pl-2 pt-0 subtitle-1 font-weight-bold"
                        >
                          {{ video.name }}
                        </v-card-title>

                        <v-card-subtitle
                          class="pl-2 pt-2 pb-0"
                          style="line-height: 1.2"
                        >
                          {{ video.userId.name }}<br />
                          {{ video.views }} views
                          <v-icon>mdi-circle-small</v-icon>
                          {{ item.subscribers }} subscribers
                        </v-card-subtitle>
                        <v-card-subtitle class="pl-2 pt-2 pb-0">
                          {{ video.description }}
                        </v-card-subtitle>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-skeleton-loader>
            </div>
          </div>
          <!--VIDEO -->
          <div>
            <div v-for="item in getSearchVideo" :key="item.id" class="mb-5">
              <v-skeleton-loader
                class="mx-auto"
                type="list-item-avatar-three-line"
                :loading="loading"
                tile
                large
              >
                <v-card
                  class="card mb-10"
                  tile
                  flat
                  @click.stop="createHistory(item)"
                >
                  <v-row no-gutters>
                    <v-col cols="5" sm="3" md="3" lg="3">
                      <!-- <v-responsive max-height="100%"> -->
                      <v-img
                        max-width="300"
                        max-height="250"
                        :src="item.thumbnailUrl"
                      >
                      </v-img>
                      <!-- </v-responsive> -->
                    </v-col>
                    <v-col cols="7" sm="7" md="8" lg="8">
                      <div class="ml-2">
                        <v-card-title
                          class="pl-2 pt-0 subtitle-1 font-weight-bold"
                        >
                          {{ item.title }}
                        </v-card-title>

                        <v-card-subtitle
                          class="pl-2 pt-2 pb-0"
                          style="line-height: 1.2"
                        >
                          {{ item.userId.name }}<br />
                          {{ item.views }} views
                          <v-icon>mdi-circle-small</v-icon>
                          {{ item.createdAt }}
                        </v-card-subtitle>
                        <v-card-subtitle class="pl-2 pt-2 pb-0">
                          {{ item.description }}
                        </v-card-subtitle>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-skeleton-loader>
            </div>
          </div>

          <!--not found -->
          <div v-if="isData">
            NOT FOUND
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { Routes, Stores } from "@/shared/enums";
import { SearchModule } from "@/store/modules/search.store";
import Subscriber from "@/shared/components/Common/Subscriber.vue";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { VideoModel } from "@/shared/models/video.model";
import {
  SearchUserModel,
  SearchVideoModel
} from "@/shared/models/searchUserModel";
import { ListUtils } from "@/shared/utils/list.utils";
import {
  SubscribeStatus,
  SubscriptionModule
} from "@/store/modules/subscription.store";
import { HistoryModule } from "@/store/modules/history.store";

@Component({
  components: {
    Subscriber
  },
  computed: {
    ...mapGetters(Stores.searchStore, ["getSearchVideo", "getSearchUser"])
  }
})
export default class Search extends Vue {
  loading = true;
  getSearchVideo!: SearchVideoModel[];
  getSearchUser!: SearchUserModel[];
  isLogin = RouteUtils.isLogin();

  get isData() {
    return (
      ListUtils.isEmpty(this.getSearchUser) &&
      ListUtils.isEmpty(this.getSearchVideo)
    );
  }

  async mounted() {
    this.loading = false;
    const query = this.$route.query.q;
    if (!query) return;
    await SearchModule.search(query as string);

    //TODO ::  WILL FIX LATER
    SubscriptionModule.listSubscribers.map(value => {
      this.getSearchUser.map(value1 => {
        if (value.channelId.id === value1.id) {
          SubscriptionModule.setStatus(SubscribeStatus.subscribed);
        }
      });
    });
  }

  updated() {
    console.log("USER::", this.getSearchUser);
    console.log("VIDEOS::", this.getSearchVideo);
  }

  countVideos(videos: Array<VideoModel>): number {
    return videos.length;
  }

  async chooseUser(id: string) {
    await SubscriptionModule.getChannels(id);
    await SubscriptionModule.checkSubscription(id);
    this.$router
      .push({ name: Routes.channelSubscriber, params: { id } })
      .catch(() => {
        console.log(`Stay on ${this.$route.name}`);
      });
  }

  createHistory(item: any) {
    const payload = {
      type: "watch",
      searchText: "",
      videoId: item.id
    };
    HistoryModule.createHistory(payload);
    this.$router.push({ name: Routes.watch, params: { id: item.id } });
  }
}
</script>

<style></style>
