<template>
  <div id="trending" class="pt-7 px-sm-10">
    <v-container fluid>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="video in getVideos"
          :key="video.id"
          class="mx-lg-0 mx-md-0 mx-sm-auto mx-auto"
        >
          <!-- <v-container> -->
          <v-skeleton-loader
            class="mx-auto"
            type="list-item-avatar-three-line"
            :loading="loading"
            tile
            large
          >
            <VideoCard
              :card="{ maxWidth: 350 }"
              :video="video"
              :channel="video.userId"
            />
          </v-skeleton-loader>
          <!-- </v-container> -->
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { SubscriptionModule } from "@/store/modules/subscription.store";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { VideoModel } from "@/shared/models/video.model";
import VideoCard from "@/shared/components/Common/VideoCard.vue";

@Component({
  components: {
    VideoCard
  },
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["getVideos"])
  }
})
export default class Subscription extends Vue {
  loading = false;
  getVideos!: VideoModel[];

  // mounted() {
  //   SubscriptionModule.getAllVideosSubscribed();
  // }
}
</script>
