<template>
  <div class="channel-home">
    <v-parallax
      height="230"
      :src="subscriberInfo.photoUrl"
    ></v-parallax>
    <div class="nav-bgcolor">
      <div class="channel-header">
        <v-container class="py-0">
          <v-row class="justify-space-between">
            <v-col cols="12" sm="5" md="5" lg="5" offset-md="1">
              <InfoUser class="transparent">
                <v-img
                  slot="img"
                  :src="subscriberInfo.photoUrl"
                ></v-img>
                <span slot="title">{{ subscriberInfo.channelName }}</span>
                <span slot="subtitle"
                  >{{
                    subscriberInfo.subscribers
                  }}
                  subscribers</span
                >
              </InfoUser>
            </v-col>
            <Subscriber
              cols="12"
              sm="5"
              md="3"
              lg="3"
              :getVideo="videosSubscriber[0]"
            />
          </v-row>
        </v-container>
      </div>
      <v-card flat class="transparent">
        <v-tabs
          v-model="tab"
          background-color="transparent"
          show-arrows
          centered
          center-active
        >
          <v-tab v-for="(item, i) in items" :key="i">
            {{ item }}
          </v-tab>
        </v-tabs>

        <v-container fluid>
          <v-tabs-items v-model="tab" class="transparent">
            <v-tab-item>
              <v-card class="transparent" flat>
                <v-card-title>Uploads</v-card-title>
                <v-slide-group class="pa-4" multiple show-arrows>
                  <v-slide-item v-for="item in videosSubscriber" :key="item.id">
                    <v-skeleton-loader
                      type="card-avatar"
                      :loading="loading"
                      width="250px"
                      class="mr-1"
                    >
                      <VideoCard
                        :card="{ maxWidth: 250, type: 'noAvatar' }"
                        :video="item"
                        :channel="item.userId"
                      ></VideoCard>
                    </v-skeleton-loader>
                  </v-slide-item>
                </v-slide-group>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card class="transparent" flat>
                <v-card-title>Uploads</v-card-title>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    lg="3"
                    v-for="item in videosSubscriber"
                    :key="item.id"
                    class="mx-xs-auto"
                  >
                    <v-skeleton-loader type="card-avatar" :loading="loading">
                      <VideoCard
                        :card="{ maxWidth: 350 }"
                        :video="item"
                        :channel="item.userId"
                      ></VideoCard>
                    </v-skeleton-loader>
                  </v-col>
                </v-row>
                <v-card-text>home</v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-container>
      </v-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { VideoModel } from "@/shared/models/video.model";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import VideoCard from "@/shared/components/Common/VideoCard.vue";
import InfoUser from "@/shared/components/Common/InfoUser.vue";
import Subscriber from "@/shared/components/Common/Subscriber.vue";
import { SubscriptionModule } from "@/store/modules/subscription.store";
import {UserInfo} from "@core/domain/models/user_info.model";

@Component({
  components: {
    VideoCard,
    InfoUser,
    Subscriber
  },
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["videosSubscriber","subscriberInfo"])
  }
})
export default class ChannelSubscriber extends Vue {
  tab = null;
  items = ["Home", "Videos"];
  loading = false;
  videosSubscriber!: VideoModel[];
  subscriberInfo !:UserInfo
  async mounted() {
    const id = this.$route.params.id;
    await SubscriptionModule.checkSubscription(id);
  }
}
</script>

<style scoped>
.nav-bgcolor {
  background: #f9f9f9;
}

.card {
  background: #f9f9f9 !important;
}

.v-tab {
  margin-right: 4em;
}

.channel-home .v-list-item--link:before {
  background-color: transparent;
}
</style>
