<template>
  <div></div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { AuthenticationModule } from "@/store/modules/authentication.store";
import { NavigationGuardNext, Route } from "vue-router";
import { Routes } from "@/shared/enums";

@Component({})
export default class ResetPassword extends Vue {
  async beforeRouteEnter(
    to: Route,
    from: Route,
    next: NavigationGuardNext<any>
  ) {
    const rawToken = to.params.token;
    if (typeof rawToken === "string") {
      AuthenticationModule.resetPassword(rawToken).then(value => {
        next({ name: Routes.welcomePage });
      });
    }
  }
}
</script>
