<template>
  <div>
    <div class="cont " :class="showSignUp" :style="{ cursor: getCursorStyle }">
      <v-form
        class="form sign-in"
        ref="formSignIn"
        @submit.prevent="handleSignIn()"
      >
        <h2>Member login,</h2>
        <InputEmail @send-email="receiveEmail" />
        <InputPass @send-password="receivePassword" />

        <v-btn
          text
          class="forgot-pass text-capitalize"
          @click.prevent="dialog = true"
          >Forgot password?
        </v-btn>
        <ForgotPassword :dialog="dialog" @close-dialog="dialog = false" />

        <v-btn class="text-capitalize submit" color="#FFB74D" type="submit"
          >Sign In
        </v-btn>
        <div class="auth-form-gmail-login" ref="signinBtn" type="submit">
          <v-btn
            class="text-capitalize gg-btn"
            :style="{ cursor: getCursorStyle }"
            >Connect with <span> Google</span>
          </v-btn>
        </div>
      </v-form>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
            <h2>New here?</h2>
            <p>Sign up and discover great amount of new opportunities!</p>
          </div>
          <div class="img__text m--in">
            <h2>One of us?</h2>
            <p>
              If you already has an account, just sign in. We've missed you!
            </p>
          </div>
          <div class="img__btn" @click="toggleForm()">
            <span class="m--up">Sign Up</span>
            <span class="m--in">Sign In</span>
          </div>
        </div>
        <v-form
          class="form sign-up"
          ref="formSignUp"
          @submit.prevent="handleSignUp()"
        >
          <h2>Let start with new account,</h2>
          <InputChannelName @send-channel="receiveChannelName" />
          <InputEmail @send-email="receiveEmail" />
          <InputPass @send-password="receivePassword" />
          <v-btn
            class="text-capitalize submit"
            color="#FFB74D"
            type="submit"
            :style="{ cursor: getCursorStyle }"
            >Sign Up
          </v-btn>
        </v-form>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  AuthenticationModule,
  AuthenticationStatus
} from "@/store/modules/authentication.store";
import Oauth from "@/shared/constants/oauth_type.const";
import { VForm } from "@/shared/utils/vform.utils";
import ForgotPassword from "@/screens/Auth/views/ForgotPassword.vue";
import InputChannelName from "@/shared/components/Common/InputChannelName.vue";
import InputEmail from "@/shared/components/Common/InputEmail.vue";
import InputPass from "@/shared/components/Common/InputPassword.vue";
import { NavigationGuardNext, Route } from "vue-router";
import { RouteUtils } from "@/shared/utils/routes.utils";
import { Routes } from "@/shared/enums";

@Component({
  components: {
    ForgotPassword,
    InputChannelName,
    InputEmail,
    InputPass
  }
})
export default class SignIn extends Vue {
  clientId = process.env.VUE_APP_GOOGLE_CLIENT_ID;
  dialog = false;

  showSignUp = "";
  email = "";
  password = "";
  channelName = "";

  closeDialog(close: boolean) {
    return this.dialog != close;
  }

  receiveEmail(email: string) {
    this.email = email;
  }

  receivePassword(password: string) {
    this.password = password;
  }

  receiveChannelName(channelName: string) {
    this.channelName = channelName;
  }

  toggleForm() {
    return this.showSignUp == ""
      ? (this.showSignUp = "s--signup")
      : (this.showSignUp = "");
  }

  checkForm(form: string): VForm {
    return this.$refs[`${form}`] as VForm;
  }

  get getCursorStyle(): string {
    return AuthenticationModule.authStatus ==
      AuthenticationStatus.Authenticating
      ? "wait"
      : "";
  }

  async handleSignIn() {
    if (this.checkForm("formSignIn").validate()) {
      await AuthenticationModule.login({
        email: this.email,
        password: this.password
      });
      if (AuthenticationModule.errorMessage) {
        alert(AuthenticationModule.errorMessage);
      }
    }
  }

  async handleSignUp() {
    if (this.checkForm("formSignUp").validate()) {
      await AuthenticationModule.register({
        email: this.email,
        password: this.password,
        channelName: this.channelName
      });
    }
  }

  async beforeRouteEnter(
    to: Route,
    from: Route,
    next: NavigationGuardNext<any>
  ) {
    const isLogin = RouteUtils.isLogin();
    if (!isLogin) {
      next();
    } else next({ name: Routes.home });
  }

  // gapi 2.0
  mounted() {
    if (!window.gapi) {
      throw new Error(
        '"https://apis.google.com/js/api:client.js" needs to be included as a <script>.'
      );
    }

    if (!this.clientId) {
      throw new Error("Client Id must be specified.");
    }

    window.gapi.load("auth2", () => {
      // eslint-disable-next-line @typescript-eslint/camelcase
      const auth2 = window.gapi.auth2.init({ client_id: this.clientId });
      auth2.attachClickHandler(
        this.$refs.signinBtn,
        {},
        async googleUser => {
          const oauthType = Oauth.PROVIDER;
          const token = googleUser.getAuthResponse().id_token;
          await AuthenticationModule.oauthLogin({
            token: token,
            provider: oauthType
          });
        },
        error => {
          console.log("ERROR TO LOGIN WITH GOOGLE", error);
        }
      );
    });
  }
}
</script>

<style scoped lang="scss">
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 550px;
  margin: 0 auto 0px;
  background: #fff;
  top: 150px;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: white;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1, 0, 0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url("https://i.insider.com/5b9137e10ce5f5b27e8b4a0c?width=1067&format=jpeg");
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW, 0, 0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {
      @include signUpActive {
        transform: translateX($imgW * 2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: "";
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH * -2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH * 2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: $inputW;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #d4af7a;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
}

.gg-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;
  width: 50%;
  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW, 0, 0);
  }
}

.sign-up {
  transform: translate3d($contW * -1, 0, 0);
  width: 70%;

  @include signUpActive {
    transform: translate3d(0, 0, 0);
  }
}
</style>
