<template>
  <nav id="studioBar">
    <v-app-bar class="white" app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="font-weight-bold">
        <router-link
          to="/studio"
          class="black--text"
          style="text-decoration: none"
          >Studio
        </router-link>
      </v-toolbar-title>
      <v-spacer />
      <v-text-field
        flat
        hide-details
        append-icon="mdi-magnify"
        placeholder="Search"
        outlined
        dense
        @keyup.enter="search"
        class="hidden-sm-and-down"
      ></v-text-field>

      <v-spacer />
      <MenuStudioFeature />
      <PopOverInfoStudio />
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app clipped id="nav">
      <div tag="div" class="v-navigation-drawer__content">
        <v-list tile class="py-0">
          <v-list-item
            v-for="item in items[0].pages"
            :key="item.title"
            href
            tile
            class="mb-0"
            router
            :to="item.link"
            exact
            active-class="active-item"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class=" font-weight-medium subtitle-2"
                >{{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>

      <template v-slot:append>
        <div class="pa-2">
          <v-divider></v-divider>
          <v-list>
            <v-list-item
              v-for="item in items[1].pages"
              :key="item.title"
              link
              class="mb-0"
              :to="item.link === '' ? '' : item.link"
              @click="settingsModal(item.title)"
              exact
              active-class="active-item"
            >
              <v-list-item-icon v-if="item.icon">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class=" font-weight-medium subtitle-2"
                  >{{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>
      <template v-slot:prepend>
        <div class="pa-2 text-center">
          <v-list class="text-center">
            <v-list-item class="px-2">
              <v-btn
                height="95"
                width="95"
                href
                x-large
                depressed
                fab
                to="/channels/myChannel"
                class="white--text mx-auto"
              >
                <v-list-item-avatar
                  v-if="getUserInfo.photoUrl"
                  height="95"
                  width="95"
                >
                  <v-img :src="getUserInfo.photoUrl" />
                </v-list-item-avatar>
              </v-btn>
            </v-list-item>

            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="title">
                  {{ getUserInfo.channelName }}
                </v-list-item-title>
                <v-list-item-subtitle
                  >{{ getUserInfo.email }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>
    </v-navigation-drawer>

    <settings-modal
      :dialog="settingsDialog"
      v-on:closeDialog="settingsDialog = false"
    />
  </nav>
</template>

<script lang="ts">
import SettingsModal from "@/shared/components/StudioComponents/SettingsModal.vue";
import { Vue, Component, Watch } from "vue-property-decorator";
import MenuStudioFeature from "@/shared/components/StudioComponents/MenuStudioFeature.vue";
import PopOverInfoStudio from "@/shared/components/HomeComponents/PopOverInfo.vue";
import { NavbarConst } from "@/shared/constants";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { UserInfo } from "@core/domain/models/user_info.model";

@Component({
  components: {
    SettingsModal,
    MenuStudioFeature,
    PopOverInfoStudio
  },
  computed: {
    ...mapGetters(Stores.userDataStore, ["getUserInfo"])
  }
})
export default class StudioNavBar extends Vue {
  drawer = false;
  settingsDialog = false;
  items = NavbarConst.SIDEBAR_ITEMS;

  getUserInfo!: UserInfo;

  search() {
    console.log("hello");
  }

  settingsModal(title: string) {
    if (title !== "Settings") return;
    this.settingsDialog = true;
  }

  mounted() {
    //width < 950px
    this.drawer = !this.$vuetify.breakpoint.mdAndDown;
    console.log("stu navbar::", this.getUserInfo);
  }
}
</script>

<style lang="scss">
#studioBar {
  .active-item {
    // border-radius: 0 !important;
    border-left: 3px solid #cc0202;

    .v-list-item__icon,
    .subtitle-2 {
      color: #cc0202 !important;
    }
  }

  .createVideoBtn {
    border-color: rgb(185, 181, 181);
  }

  // .v-navigation-drawer__border {
  //   width: 0 !important;
  // }

  .vuebar-element {
    height: 250px;
    width: 100%;
    max-width: 500px;
    background-color: #8d8a8a !important;
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: margin 100ms ease-out, height 100ms ease-out;
    transition: margin 100ms ease-out, height 100ms ease-out;

    margin: 5px 5px 5px 0;

    height: calc(100% - 10px);
    display: block;
    width: 10px;
    background-color: #8d8a8a;
  }

  .v-navigation-drawer__content:hover .vb > .vb-dragger > .vb-dragger-styler {
    width: 10px;
    background-color: #8d8a8a;
  }

  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    // margin: 0px;
    // width: 10px;
    background-color: #8d8a8a;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }
}
</style>
