<template>
  <div>
    <v-menu offsetY>
      <template v-slot:activator="{ on: menu }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn
              class="mr-8 createVideoBtn"
              outlined
              v-on="{ ...tooltip, ...menu }"
            >
              <v-icon size="25" class="red--text small">mdi-video-plus </v-icon>
              Create
            </v-btn>
          </template>
          <span>Create a video and more</span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-item @click="dialog = true">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-play-box-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Upload video</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-access-point</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Go live</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <UploadVideoModal :dialog="dialog" v-on:closeDialog="dialog = false" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UploadVideoModal from "@/shared/components/StudioComponents/UploadVideoModal.vue";

@Component({
  components: {
    UploadVideoModal
  }
})
export default class MenuStudioFeature extends Vue {
  dialog = false;
}
</script>
