<template>
  <v-dialog
    v-model="dialog"
    persistent
    transition="fab-transition"
    max-width="800"
    id="settings"
  >
    <v-card tile :style="{ cursor: getCursorStyle }">
      <div class="d-flex justify-space-between mb-5" id="modal-header">
        <v-card-title class="py-3">Settings</v-card-title>

        <v-btn icon text @click="closeModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <v-card-text>
        <v-row>
          <v-col
            order="last"
            order-sm="last"
            order-md="first"
            order-lg="first"
            order-xl="first"
            cols="12"
            sm="12"
            md="8"
            lg="8"
            class="pt-0"
          >
            <h3 class="mb-6 mt-0 pt-0">Personal Information</h3>
            <v-form
              @submit.prevent="updatePersonInfo"
              @reset.prevent="reset"
              ref="formPersonInfo"
            >
              <InputChannelName @send-channel="receiveChannelName" />
              <InputEmail @send-email="receiveEmail" />
              <v-btn type="submit" class="primary " depressed>Submit</v-btn>
            </v-form>
            <h3 class="mb-6 mt-6">Change Password</h3>
            <v-form
              @submit.prevent="updatePassword"
              @reset.prevent="reset"
              ref="formChangePassword"
            >
              <InputPassword
                @send-password="receivePassword"
                @send-newPassword="receiveNewPassword"
              />
              <v-btn type="submit" class="primary" depressed>Submit</v-btn>
            </v-form>
          </v-col>
          <v-col
            order-sm="1"
            cols="12"
            sm="12"
            md="4"
            lg="4"
            class="text-center"
          >
            <v-btn text @click="onPickFile">Upload Avatar</v-btn>
            <input
              type="file"
              ref="fieldFile"
              style="display: none"
              accept="image/*"
              @change="onFilePicked"
            />
            <!--show image-->

            <v-responsive
              width="230"
              class="mx-auto"
              style="border-radius: 50%;"
            >
              <div
                v-if="!imgDataUrl"
                class="px-12"
                id="settings-image-placeholder"
              >
                <v-icon>mdi-image-plus</v-icon>
              </div>
              <v-img v-else height="220" :src="imgDataUrl"></v-img>
            </v-responsive>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import myUpload from "vue-image-crop-upload";
import { Component, Prop, Vue } from "vue-property-decorator";
import { FileModule, FileStatus } from "@/store/modules/upload_file.store";
import InputChannelName from "@/shared/components/Common/InputChannelName.vue";
import InputEmail from "@/shared/components/Common/InputEmail.vue";
import InputPass from "@/shared/components/Common/InputPassword.vue";
import InputPassword from "@/shared/components/Common/InputPassword.vue";
import { VForm } from "@/shared/utils/vform.utils";
import { AuthenticationModule } from "@/store/modules/authentication.store";

@Component({
  components: {
    InputPassword,
    myUpload,
    InputChannelName,
    InputEmail,
    InputPass
  }
})
export default class SettingsModal extends Vue {
  @Prop({ type: Boolean })
  dialog!: boolean;
  channelName = "";
  email = "";
  password = "";
  newPassword = "";
  imgDataUrl: string | ArrayBuffer | null = "";

  onPickFile() {
    (this.$refs.fieldFile as HTMLElement).click();
  }

  onFilePicked(event: any) {
    //get file
    const files = event.target!.files[0];
    if (files.name!.lastIndexOf(".") <= 0) {
      return console.log("Please add a valid file!");
    }
    // read image example viewer can see
    const fileReader = new FileReader();
    fileReader.addEventListener("load", () => {
      this.imgDataUrl = fileReader.result;
    });
    fileReader.readAsDataURL(files);
    FileModule.deleteImage(files.name);
    //upload image
    FileModule.uploadImage(files);
  }

  openDialog() {
    return this.dialog;
  }

  receiveChannelName(channel: string) {
    this.channelName = channel;
  }

  receiveEmail(email: string) {
    this.email = email;
  }

  receivePassword(password: string) {
    this.password = password;
  }

  receiveNewPassword(newPassword: string) {
    this.newPassword = newPassword;
  }

  get getCursorStyle(): string {
    return FileModule.status == FileStatus.loading ? "wait" : "";
  }

  checkForm(form: string): VForm {
    return this.$refs[`${form}`] as VForm;
  }

  async updatePersonInfo() {
    if (this.checkForm("formPersonInfo").validate()) {
      const payload = {
        email: this.email,
        channelName: this.channelName
      };
      await AuthenticationModule.updatePersonalInfo(payload);
      this.closeModal();
    }
  }

  async updatePassword() {
    if (this.checkForm("formChangePassword").validate()) {
      const payload = {
        currentPassword: this.password,
        newPassword: this.newPassword
      };
      await AuthenticationModule.updatePassword(payload);
      this.closeModal();
    }
  }

  closeModal() {
    this.$emit("closeDialog");
  }
}
</script>

<style lang="scss">
#modal-header {
  border-bottom: 1px solid rgb(238, 232, 232);
}

#settings-image-placeholder {
  padding-top: 7em;
  padding-bottom: 7em;
  border: 2px dashed rgb(209, 209, 209);
  border-radius: 50%;
}

@media (max-width: 700px) {
  .vue-image-crop-upload {
    .vicp-wrap {
      width: 95%;
      height: 550px;

      .vicp-step2 .vicp-crop {
        .vicp-crop-left {
          float: none;

          .vicp-range {
            margin: 30px auto auto;
          }

          & * {
            margin-left: auto;
            margin-right: auto;
          }
        }

        .vicp-crop-right {
          float: none;
          margin-top: 30px;

          .vicp-preview .vicp-preview-item {
            display: inline-block;
            float: none;
          }

          & * {
            // margin-left: auto;
            // margin-right: auto;
          }
        }
      }
    }
  }
}
</style>
