<template>
  <v-list>
    <v-list-item>
      <v-list-item-avatar>
        <slot name="img">
          <img :src="getUserInfo.photoUrl" />
        </slot>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          <slot name="title">{{ getUserInfo.channelName }}</slot>
        </v-list-item-title>
        <v-list-item-subtitle>
          <slot name="subtitle">{{ getUserInfo.email }}</slot>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { Inject } from "typescript-ioc";
import { DataManager } from "@core/services";
import { mapGetters } from "vuex";
import { Stores } from "@/shared/enums";
import { UserInfo } from "@core/domain/models/user_info.model";
import { UserDataModule } from "@/store/modules/user_data.store";

@Component({
  computed: {
    ...mapGetters(Stores.userDataStore, ["getUserInfo"])
  }
})
export default class InfoUser extends Vue {
  getUserInfo!: UserInfo;
}
</script>
