<template>
  <div>
    <v-container v-if="isLoginRoutes()">
      <v-text-field
        v-model="password"
        prepend-icon="lock"
        :append-icon="visibilityPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="rules"
        :type="visibilityPassword ? 'text' : 'password'"
        label="Password"
        @click:append="visibilityPassword = !visibilityPassword"
        @change="sendPassword()"
        autocomplete="section-blue shipping current-password"
      ></v-text-field>
    </v-container>
    <v-container v-else>
      <v-text-field
        v-model="password"
        prepend-icon="lock"
        :append-icon="visibilityPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="rules"
        :type="visibilityPassword ? 'text' : 'password'"
        label="Current password"
        @click:append="visibilityPassword = !visibilityPassword"
        @change="sendPassword()"
        class="input-group--focused"
        autocomplete="section-blue shipping current-password"
      ></v-text-field>
      <v-text-field
        v-model="newPassword"
        prepend-icon="lock"
        :append-icon="visibilityNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="rules"
        :type="visibilityNewPassword ? 'text' : 'password'"
        label="New password"
        @click:append="visibilityNewPassword = !visibilityNewPassword"
        @change="sendNewPassword()"
        autocomplete="section-blue shipping current-password"
      ></v-text-field>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Routes } from "@/shared/enums";

@Component({})
export default class InputPass extends Vue {
  password = "";
  newPassword = "";
  visibilityPassword = false;
  visibilityNewPassword = false;
  rules = [
    //required
    (value: string) => {
      return !!value || "Required";
    },
    //minLength
    (value: string) => {
      return (
        value.length >= 8 || `Password need ${8 - value.length} more characters`
      );
    },
    //validate password
    (value: string) => {
      // eslint-disable-next-line max-len
      const pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      return pattern.test(value) || "At least one letter and one number:.";
    }
  ];

  isLoginRoutes(): boolean {
    return this.$router.currentRoute.name === Routes.welcomePage;
  }

  sendPassword() {
    this.$emit("send-password", this.password);
  }

  sendNewPassword() {
    this.$emit("send-newPassword", this.newPassword);
  }
}
</script>
