<template>
  <v-col :cols="cols" :sm="sm" :md="md" :lg="lg">
    <div :class="classStyle">
      <v-btn
        class="blue white--text mt-6"
        tile
        large
        depressed
        @click.stop.prevent="redirectStudio()"
        v-if="isOwnVideo || ownVideo"
      >
        Studio Manager
      </v-btn>
      <v-btn
        width="135"
        height="44"
        class="mt-6"
        :class="colorStyle"
        tile
        large
        depressed
        @click.stop.prevent="subscribed()"
        v-else
      >
        <v-icon v-if="isSubscribed">done</v-icon>
        <span v-else>Subscribed</span>
      </v-btn>
      <!--      <v-btn class="mt-6" color="#ECECEC"  tile large depressed @click.prevent="subscribed()"-->
      <!--      >-->
      <!--        <v-icon>done</v-icon>-->
      <!--      </v-btn>-->
      <v-btn icon class="ml-5 mt-6">
        <v-icon>{{ IconNotify }}</v-icon>
      </v-btn>
    </div>
  </v-col>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  SubscribeStatus,
  SubscriptionModule
} from "@/store/modules/subscription.store";
import { VideoModel } from "@/shared/models/video.model";
import { DataManager } from "@core/services";
import { DI } from "@core/modules";
import { Routes, Stores } from "@/shared/enums";
import { mapGetters } from "vuex";
import { VideosModule } from "@/store/modules/video.store";
import { SearchUserModel } from "@/shared/models/searchUserModel";

@Component({
  computed: {
    ...mapGetters(Stores.subscriptionStore, ["status"])
  }
})
export default class Subscriber extends Vue {
  @Prop({ required: true, type: String }) readonly cols!: string;
  @Prop({ required: true, type: String }) readonly sm!: string;
  @Prop({ required: true, type: String }) readonly md!: string;
  @Prop({ required: true, type: String }) readonly lg!: string;
  @Prop({ type: String }) readonly classStyle!: string;
  @Prop({ type: Object, required: true }) readonly getVideo!: VideoModel;
  @Prop({ type: Boolean, default: false }) ownVideo!: boolean;
  status!: SubscribeStatus;

  get isOwnVideo(): boolean {
    const userId = DI.get(DataManager).getUserProfile().id;

    const id = this.getVideo.userId.id;
    return userId === id;
  }

  get isSubscribed(): boolean {
    return this.status === SubscribeStatus.subscribed;
  }

  get isUnSubscribed(): boolean {
    return this.status === SubscribeStatus.unsubscribed;
  }

  get colorStyle(): string {
    if (this.isSubscribed) return "grey lighten-1 black--text";
    else if (this.isUnSubscribed) return "red darken-1 white--text";
    else return "red darken-1 white--text";
  }

  get IconNotify() {
    return "mdi-bell" || "notifications_off";
  }

  async subscribed() {
    if (!this.isOwnVideo) {
      await SubscriptionModule.subscribe(this.getVideo.userId?.id);
      await VideosModule.getAndSaveVideo(this.getVideo.id);
    }
  }

  redirectStudio() {
    this.$router.replace({ name: Routes.dashboard });
  }
}
</script>
